        {% block block_footer %}{% endblock %}
        {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
      </script>
    </body>
</html>