        <footer class="footer">
            <div class="container">
                <p class="text-muted">{{footer}}</p>
            </div>
        </footer>
        {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
      </script>
    </body>
</html>