{% extends "footer.twig" %}
{% block block_footer %}
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
    </style>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">{{footer}}</p>
        </div>
    </footer>
{% endblock %}